.container {
    background: radial-gradient(993px at 50% 150%, rgb(0, 239, 247) 0%, rgb(0, 122, 147) 46.7%, rgb(0, 29, 72) 100.2%);
    border-radius: 16px;
    display: flex;
    margin: auto;
    overflow: auto;
    padding: 0;
    transition: all 200ms ease-in-out;
}

.container.Atmosphere {
    background: radial-gradient(993px at 50% 150%, rgb(0, 239, 247) 0%, rgb(0, 122, 147) 46.7%, rgb(0, 29, 72) 100.2%);
}

.container.Clear {
    background: radial-gradient(circle at 50% 125%, rgb(250, 138, 138) 0%, rgb(198, 124, 204) 90%);
}

.container.Clouds {
    background: linear-gradient(to top, rgb(12, 20, 69) 16.9%, rgb(71, 30, 84) 89.9%);
}

.container.Drizzle {
    background: linear-gradient(to top, #64b3f4 0%, #c2e59c 125%);
}

.container.Rain {
    background: linear-gradient(to bottom, rgb(21, 74, 189) 0.1%, rgb(26, 138, 211) 51.5%, rgb(72, 177, 234) 100.2%);
}

.container.Snow {
    background: linear-gradient(to top, rgb(191, 241, 236) -42.3%, rgb(109, 192, 236) 84.1%);
}

.container.Thunderstorm {
    background: linear-gradient(to top, #868f96 0%, #596164 100%);
}

.Weather {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    color: #f8f5e4;
    font-family: "Outfit", sans-serif;
    margin: auto;
    padding: 15px;
    width: 600px;
}

.Weather a {
    color: rgba(248, 245, 228, 0.9);
}

.Weather a:hover {
    cursor: pointer;
    text-decoration: none;
}

.Weather .search-form {
    display: flex;
    justify-content: center;
}

.Weather .search-form-input {
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid #f8f5e4;
    border-radius: 5px 0 0 5px;
    color: #f8f5e4;
    font-family: "Outfit", sans-serif;
    font-size: 16px;
    padding: 10px;
    width: 85%;
}

.Weather .search-form-button {
    background: rgba(248, 245, 228, 0.75);
    border: none;
    border-radius: 0 5px 5px 0;
    color: #000;
    cursor: pointer;
    font-family: "Outfit", sans-serif;
    font-size: 16px;
    padding: 10px;
}

.Weather .weather-app-icon {
    display: block;
    margin: auto;
    padding: 0;
}

.Weather h1 {
    font-size: 20px;
    font-weight: 500;
    line-height: 0.5;
    margin: 0;
}

.Weather .temperature {
    color: #f8f5e4;
    font-size: 50px;
    font-weight: 500;
    line-height: 1;
    margin-left: 5px;
}

.Weather canvas {
    margin: 10px auto;
}

.Weather .unit {
    color: #f8f5e4;
    font-size: 25px;
    font-weight: 500;
    position: relative;
    top: -18px;
}

.Weather .date {
    font-size: 25px;
    font-weight: bold;
    margin-top: 25px;
}

.Weather .weather-app-details {
    font-size: 20px;
    line-height: 1.25;
}

.Weather .weather-app-details .row {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 0 10%;
}

.Weather .weather-app-details .left {
    text-align: left;
}

.Weather .weather-app-details .right {
    font-weight: 500;
    text-align: right;
}

.Weather .weather-forecast-icon {
    display: block;
    filter: brightness(0) saturate(100%) invert(88%) sepia(25%) saturate(272%) hue-rotate(329deg) brightness(111%) contrast(94%);
    margin: auto;
}

.Weather footer {
    font-size: 11px;
    margin: 0;
    padding-top: 10px;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .container {
        border-radius: 0;
        padding: 0;
    }

    .Weather {
        border-radius: 0;
        height: 100vh;
        margin: auto;
    }
}